Package: HermitMatrixNetwork
Priority: optional
Architecture: amd64
Homepage: https://github.com/HermitMatrixNetwork/HermitMatrixNetwork
Maintainer: https://github.com/HermitMatrixNetwork
Provides: hermitmatrixnetwork
Conflicts: hermitmatrixnetwork
Replaces: hermitmatrixnetwork
Depends: libsnappy1v5
Description: More Privacy. Limitless Possibilities.
 HermitMatrixNetwork is the first blockchain with customizable privacy. You get to choose what you share, with whom, and how. This protects users, and empowers developers to build a better Web3. Visit
